.background {
    flex-grow: 1;
    background-color: rgb(30, 30, 30);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-color: rgb(40, 154, 229);
    border-right-color: rgb(40, 154, 229);
    border-top-color: rgb(40, 154, 229);
    border-bottom-color: rgb(40, 154, 229);
}
